<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-link p-0" (click)="infoModal.show()"><i
            class="icon-info"></i></button> Employees 
            <div class="card-header-actions">
              <button (click)="onSubmit()" class="btn btn-sm btn-primary" type="submit">
                <i class="fa fa-dot-circle-o"></i> Submit</button>
              <button class="btn btn-sm btn-danger" type="reset" (click)="onReset()">
                <i class="fa fa-ban"></i> Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="obs$ | async as data; else loading" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-pencil-square-o"></i> Basic Information 
        </div>
        <div class="card-body">
                <div class="form-group">
                  <input type="hidden" formControlName="_id" class="form-control" />
                  <label>First Name</label>
                  <input type="text" formControlName="firstName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" formControlName="lastName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.exist">Email already exist</div>
                  </div>
                </div>
          </div>
        </div>
         
        <div class="card">
          <div class="card-header">
            <i class="fa fa-tasks"></i> Select available services for this user
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>Main Service</label>
              <select formControlName="mainActivity" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.mainActivity.errors }">
                <option disabled>Please select</option>
                <option *ngFor='let option of data.activities'
                [ngValue]='option._id'>
                {{option.name}}
              </option>
              </select>
              <div *ngIf="submitted && f.mainActivity.errors" class="invalid-feedback">
                <div *ngIf="f.mainActivity.errors.required">Please select a main activity for this user</div>
              </div>
            </div>
            <div class="list-group">
              <mat-nav-list>
                <mat-selection-list #groups formControlName="groups" (selectionChange)="groupSelected(groups)">
                  <mat-list-option *ngFor="let option of data.groups" [value]="option._id">
                    {{option.name}}
                  </mat-list-option>
                </mat-selection-list>
              </mat-nav-list>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-wrench"></i> Configuration <button class="btn btn-link"
            (click)="customModal.show()"><i class="icon-info"></i></button>
            <div class="card-header-actions">
              <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button"
                  class="btn-min btn btn-block btn-link dropdown-toggle" aria-controls="dropdown-basic">
                  <i class="fa fa-align-justify"></i> <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                  aria-labelledby="button-basic">
                  <li *ngIf="f.isLinked.value==false" role="menuitem">
                    <span class="btn btn-sm" (click)="f.linkCode.setValue(makeCode())" href="#"><i class="fa fa-refresh"></i> Reset link
                      code</span></li>
                   <li *ngIf="f.isLinked.value==true"> <span class="btn btn-sm" (click)="dangerModal.show()" href="#"><i class="text-danger fa fa-remove"></i> Unlink device</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h1 class="card-title text-center">{{f.linkCode.value}}</h1>
            <div *ngIf="f.isLinked.value==false else unlinked">
              <div class="align-text-bottom">
              <p><i class="text-danger fa fa-mobile"></i> No existe un dispositivo vinculado a esta cuenta</p>
            </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <i class="fa fa-cog"></i>  Custom Activities<button class="btn btn-link"
              (click)="customModal.show()"><i class="icon-info"></i></button>
          </div>
          <div class="card-body">
            <table mat-table [dataSource]="data.activities"
            class="table table-bordered table-striped table-sm  no-footer" matSort>
            <ng-container matColumnDef="status">
              <th *matHeaderCellDef><i class="fa fa-eye"></i> </th>
              <td *matCellDef="let element">
                <i class="fa "
                [ngClass]="getCustomStatus(element._id)? 'fa-check text-success': 'fa-close text-danger'"></i>
              </td>
            </ng-container>
            <!-- User ID Column -->
            <ng-container matColumnDef="name">
              <th *matHeaderCellDef> Service Name </th>
              <td *matCellDef="let element">
                {{element.name}}
              </td>
            </ng-container>
            <!-- Buttons Column -->
            <ng-container matColumnDef="options">
              <th *matHeaderCellDef> Options </th>
              <td *matCellDef="let element">
                <div class="btn-group" data-toggle="buttons">
                  <label *ngFor="let option of customOptions" [class]="option.label">
                    <input #customSelected type="radio" [value]="option.value" [attr.custom-id]="element._id" name="custom[{{element._id}}]" 
                    (click)="setCustomOption()" autocomplete="off" [checked]="getCustomOption(element._id)==option.value">
                    <span [class]="option.span"></span>
                  </label>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Information about services</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Lorem ipsum dolor sit amet</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <h5>Lorem ipsum dolor sit amet</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>
      <div class="modal-custom">
        <h5>Lorem ipsum dolor sit amet</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>
<div bsModal #customModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Information about services</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Lorem ipsum dolor sit amet</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>
<ng-template #unlinked>
 Ya existe un dispositivo vinculado a esta cuenta
</ng-template>
<ng-template #loading>
  Loading User...
</ng-template>
<ng-template #neutral>
  <span class="checkbox tricheck"></span>
</ng-template>
<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete element</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Close</button>
        <button type="button" class="btn btn-danger"
          (click)="f.isLinked.setValue(false);dangerModal.hide()">Yes</button>
      </div>
    </div>
  </div>
</div>