<ng-container matColumnDef="employeeCode">
  <th *matHeaderCellDef mat-sort-header>Employee Code</th>
  <td *matCellDef="let element">{{ element.employeeCode }}</td>
</ng-container>

<ng-container matColumnDef="firstName">
  <th *matHeaderCellDef mat-sort-header>First Name</th>
  <td *matCellDef="let element">{{ element.firstName }}</td>
</ng-container>

<ng-container matColumnDef="lastName">
  <th *matHeaderCellDef mat-sort-header>Last Name</th>
  <td *matCellDef="let element">{{ element.lastName }}</td>
</ng-container>

<ng-container matColumnDef="groups">
  <th *matHeaderCellDef>Groups</th>
  <td *matCellDef="let element">
    <span
      *ngFor="let item of element._groups"
      class="badge badge-success mr-1"
      >{{ item.name }}</span
    >
  </td>
</ng-container>
