<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i> {{ config?.uiName }}
          <div class="card-header-actions">
            <div class="btn-group" dropdown>
              <button
                id="button-basic"
                dropdownToggle
                type="button"
                class="btn-min btn btn-block btn-link dropdown-toggle"
                aria-controls="dropdown-basic"
              >
                <i class="fa fa-align-justify"></i> <span class="caret"></span>
              </button>
              <ul
                id="dropdown-basic"
                *dropdownMenu
                class="dropdown-menu dropdown-menu-right"
                role="menu"
                aria-labelledby="button-basic"
              >
                <li
                  *ngFor="let option of config.dropdownOptions | keyvalue"
                  role="menuitem"
                >
                  <a
                    class="dropdown-item"
                    [routerLink]="option.value.link ? [option.value.link] : []"
                    href="#"
                    >{{ option.value.text }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6 text-right">
              <div class="dataTables_filter">
                <label
                  ><input
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder="Filter"
                    type="search"
                    class="form-control form-control-sm"
                    aria-controls="DataTables_Table_0"
                /></label>
              </div>
            </div>
          </div>
          <app-test></app-test>
          <table
            *ngIf="obs$ | async; else loading"
            mat-table
            [dataSource]="dataSource"
            class="table table-striped table-bordered datatable dataTable no-footer"
            matSort
          >
            <!-- Employee  Columns -->
            <ng-container *ngIf="config.service == 'employee'">
              <ng-container matColumnDef="employeeCode">
                <th *matHeaderCellDef mat-sort-header>Employee Code</th>
                <td *matCellDef="let element">{{ element.employeeCode }}</td>
              </ng-container>

              <ng-container matColumnDef="firstName">
                <th *matHeaderCellDef mat-sort-header>First Name</th>
                <td *matCellDef="let element">{{ element.firstName }}</td>
              </ng-container>

              <ng-container matColumnDef="lastName">
                <th *matHeaderCellDef mat-sort-header>Last Name</th>
                <td *matCellDef="let element">{{ element.lastName }}</td>
              </ng-container>

              <ng-container matColumnDef="groups">
                <th *matHeaderCellDef>Groups</th>
                <td *matCellDef="let element">
                  <span
                    *ngFor="let item of element._groups"
                    class="badge badge-success mr-1"
                    >{{ item.name }}</span
                  >
                </td>
              </ng-container>
            </ng-container>

            <!-- Register  Columns -->
            <ng-container *ngIf="config.service == 'register'">
              <ng-container matColumnDef="employee">
                <th *matHeaderCellDef mat-sort-header>Employee</th>
                <td *matCellDef="let element">
                  {{ element._employee?.lastName }},
                  {{ element._employee?.firstName }}
                </td>
              </ng-container>
              <ng-container matColumnDef="activity">
                <th *matHeaderCellDef mat-sort-header>Activity</th>
                <td *matCellDef="let element">{{ element._activity?.name }}</td>
              </ng-container>
              <ng-container matColumnDef="time">
                <th *matHeaderCellDef>Time</th>
                <td *matCellDef="let element">
                  {{ element.start }}-{{ element.end }}
                </td>
              </ng-container>
              <ng-container matColumnDef="delay">
                <th *matHeaderCellDef>Delay</th>
                <td *matCellDef="let element">{{ element.delay / 60 }} min</td>
              </ng-container>
              <ng-container matColumnDef="position">
                <th *matHeaderCellDef>Position</th>
                <td *matCellDef="let element">{{ element.inPosition }}</td>
              </ng-container>
            </ng-container>

            <!-- Activity  Columns -->
            <ng-container *ngIf="config.service == 'activity'">
              <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-sort-header>No.</th>
                <td *matCellDef="let element">{{ element._id }}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-sort-header>Name</th>
                <td *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
              <ng-container matColumnDef="locations">
                <th *matHeaderCellDef>Locations</th>
                <td *matCellDef="let element">
                  <span
                    *ngFor="let item of element._locations"
                    class="badge badge-info mr-1"
                    >{{ item.name }}</span
                  >
                </td>
              </ng-container>
            </ng-container>

             <!-- Schedule  Columns -->
             <ng-container *ngIf="config.service == 'schedule'">
              <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-sort-header>No.</th>
                <td *matCellDef="let element">{{ element._id }}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-sort-header>Name</th>
                <td *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
              <ng-container matColumnDef="locations">
                <th *matHeaderCellDef>Locations</th>
                <td *matCellDef="let element">
                  <span
                    *ngFor="let item of element._locations"
                    class="badge badge-info mr-1"
                    >{{ item.name }}</span
                  >
                </td>
              </ng-container>
            </ng-container>

            <!-- Group  Columns -->
            <ng-container *ngIf="config.service == 'group'">
              <ng-container matColumnDef="name">
                <th *matHeaderCellDef>Name</th>
                <td *matCellDef="let element">{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="activities">
                <th *matHeaderCellDef>Activities</th>
                <td *matCellDef="let element">
                  <span
                    *ngFor="let item of element._activities"
                    class="badge badge-success mr-1"
                    >{{ item.name }}</span
                  >
                </td>
              </ng-container>
            </ng-container>

            <!-- Location  Columns -->
            <ng-container *ngIf="config.service == 'location'">
              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-sort-header>Name</th>
                <td *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
            </ng-container>

            <!-- Configuration  Columns -->
            <ng-container *ngIf="config.service == 'configuration'">
              <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-sort-header>Name</th>
                <td *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
              <ng-container matColumnDef="desc">
                <th *matHeaderCellDef mat-sort-header>Description</th>
                <td *matCellDef="let element">{{ element.desc }}</td>
              </ng-container>
              <ng-container matColumnDef="companies">
                <th *matHeaderCellDef mat-sort-header>Companies</th>
                <td *matCellDef="let element"></td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th *matHeaderCellDef>Status</th>
                <td *matCellDef="let element">{{ element.status }}</td>
              </ng-container>
            </ng-container>

            <!-- Buttons Column -->
            <ng-container matColumnDef="options">
              <th *matHeaderCellDef>Options</th>
              <td *matCellDef="let element">
                <button
                  *ngFor="let option of config.displayedOptions"
                  [routerLink]="option.link ? [option.link + element._id] : []"
                  class="btn btn-sm {{ option.class }}"
                  (click)="config._id = element._id"
                  (click)="option.delete && dangerModal.show()"
                  href="#"
                >
                  <i class="{{ option.icon }}"></i>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="config.displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: config.displayedColumns"
            ></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  bsModal
  #dangerModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete element</h4>
        <button
          type="button"
          class="close"
          (click)="dangerModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="dangerModal.hide()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="confirmDelete(); dangerModal.hide()"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #loading> Loading User... </ng-template>
