<div class="card">
    <div class="card-body">
        <div
            class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
            <div *ngFor="let service of timeline.services"
                class="timeline-service vertical-timeline-item dot-danger vertical-timeline-element">
                <span class="vertical-timeline-element-icon bounce-in"></span>
                <div class="vertical-timeline-element-content bounce-in">
                    <h4 class="timeline-title">{{service.name}}</h4>
                    <div *ngFor="let timelapse of service.timelapse" class="timeline-lapse">
                        <div>
                            <div class="timeline-time">
                                <span
                                    class="time-span text-primary rounded border border-primary p-1">{{timelapse.time}}</span>
                            </div>
                            <div  *ngFor="let type of timelapse.type"  class="avatar-wrapper avatar-wrapper-overlap">
                                <div class="timeline-time mt-1">
                                    <span [ngClass]="{
                                        'badge-danger': (type.name=='out'),
                                        'badge-success': (type.name=='in')
                                      }" class="badge type-span">
                                        <i [ngClass]="{
                                            'fa-sign-out': (type.name=='out'),
                                            'fa-sign-in': (type.name=='in')
                                          }" class="fa"></i>
                                    </span>
                                </div>
                                <div *ngFor="let user of type.users" class="avatar-icon-wrapper avatar-icon-sm">
                                    <a href="#" class="avatar-icon" tooltip="{{user.name}} {{user.time}}">
                                        <img alt="" src="{{user.avatar}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>